.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-top: 80px; /* espacio para navbar */
}

.carousel-content {
  text-align: center;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
