:root {
  /* ===============================
     PALETA BASE
  ================================ */
  --cream: #f7f3ed;
  --brown: #5a4632;
  --dark: #1b1b1b;
  --olive: #6b705c;

  /* ===============================
     TEXTO
  ================================ */
  --text-light: #ffffff;
  --text-dark: #1b1b1b;

  /* ===============================
     UI
  ================================ */
  --radius: 999px;
  --transition: all 0.3s ease;

  /* ===============================
     SOMBRAS
  ================================ */
  --shadow-soft: 0 18px 45px rgba(24, 23, 23, 0.08);
  --shadow-light: 0 10px 30px rgba(0, 0, 0, 0.06);
}

/* ===============================
   LIGHT MODE
================================ */
body.light {
  --bg: var(--cream);
  --text: var(--text-dark);
}

/* ===============================
   DARK MODE
================================ */
body.dark {
  --bg: var(--dark);
  --text: var(--text-light);
}
